@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --vermelho-pokemon: #e3350d;
    --preto: #1c1c1c;
    --amarelo: #ffcb05;
    --branco: #ffffff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:white;
    padding: 10px;
}

header{
    padding: 10px;
    margin-bottom: 10px;
    font-family: "VT323", monospace;
    background-color:var(--vermelho-pokemon);
    color: white;
    text-align:center;
    font-size: 25px;
    text-decoration: underline;
    border-style: solid;
    border-radius:5px ;
    border-color: white;
}

nav{
    background-color:rgba(0, 0, 0, 0.171);
    padding: 20px;
    width: fit-content;
    font-size: 20px;
    text-align:left ;
    border-style: solid;
    border-radius: 15px;
    border-color: white;
    display: none;
    transition: 0.3s ease;
}

nav > a{
    font-family: "VT323", monospace;
    font-size: 1.3em;
    color:var(--preto);
    text-decoration: none;
    padding: 3px;
    font-weight: bolder;
    border-radius: 3px;
    transition: 0.2s;
}

nav > a:hover{
    color: black;
    border-radius: 5px;
    background-color: var(--amarelo);
    transform:translateX(6px) ;
 
}

nav > a:active{
    transform: scale(0.97);
}

#menu{
    background-color: black;
    color: white;
    font-size: 30px;
    display: block;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

main{
    max-width: 1000px;
    margin: auto;
    padding: 15px;
}

main img{
    width:100% ;
    margin: auto;
    text-align: center;
    min-width: 320px;
    max-width: 1000px;
    display: block;
    padding-top: 10px;
}

h1, h2, h3{
    margin-bottom: 15px;
}

h3{
    font-size: 25px;
}

.refe{
    color: blue;

}

a:hover.refe{
    background-color: antiquewhite;
}

a:visited.refe{
      color: darkblue;    
}

#quadro{
    text-align: center;
    max-width: 1000px;
    font-size: 18px;
    font-weight: bolder;
    margin: auto;
    border:3px solid;
    border-radius: 5px;
    background-color:white;
    box-sizing: border-box;
    padding: 10px;
    word-wrap: break-word;
}